**/__pycache__/
/error_logs/
/ids/
nohup_outputs/
convert_csv_to_json.ipynb
crawl_vietjack.py
get_data_jl.py
get_error_ocr.py
import_knowledge_base.ipynb
import_vietjack.py
read_question_with_explanation.ipynb
test_generate.py
test_streamlit.py
test_update_explanation.py
test.json
.vscode/launch.json
ids/exam_ids_imported.txt
ids/exam_ids_synced.txt
logs/
.env.dev